// @import url(http://fonts.googleapis.com/css?family=Fjalla+One)

@mixin base_font($size: 1em)
	
	font-family: 'Fjalla One', sans-serif

@mixin header



@mixin background

	background: #d4d4d4 url("../images/debut_dark.png")
	border: 0.1em solid rgba(255,255,255,0.8)
	border-radius: 0.2em
	// x offset y offset spread color
	box-shadow: 0.2em 0.2em 0.5em rgba(36,36,36, 0.8)


