@import mixins
@import animations
@import header

body

	background: url("../images/creampaper.png") 


#container	 

	position: relative
	width: 80%
	top: 2em
	margin: 0 auto
	padding: 1em
	@include fade_in

#overview
	// @include fade_in
	position: relative

	// 
	> div:nth-of-type(1)

		@include header
		font-size: 0.9em