@import mixins
@import animations

body

	background-color: gray

#header

	position: relative
	top: 2em
	padding: 2em
	width: 60%
	margin: 0 auto	
	@include background
	@include rise_animation	

	> h1 

		text-align: center
		@include base_font

