#experience

	%div 
		%h1= "Relevant Experience"

	%div

		%div

			%h2= "OpenOffer"
			%p
				I worked as a backend programmer implementing features and maintaining the site as we scaled. Worked primarily on the full LAMP stack and was in charge of admin, database integrity and apache configuration. Also built a small application integrating Facebook, Twitter and LinkedIn with RSS PubSubHubbub protocol.

