#overview
	
	%div 

		%h1= "Overview"

	%div 

		%p
			Currently a junior Computer Engineering Computer Science major at the University of Southern California. I am a professional software engineer, hacker and designer and am constantly using the newest technologies and tools to solve exiting problems. I'm currently interested in applying Natural Language Processing / Machine Learning algorithms to solving real world problems as well as web application programming. Some of my favorite tools/technologies include Javascript, GoLang, Python, Tmux and Vim.
