#projects

	%div
		%h1= "Projects"

	%div

		%div

			%h2= "Flashquest"

			%p

				Currently developing the backend / business portal application for Flashquest. I'm in charge of making technical decisions as well as implementation of our product. I'm currently building a Ruby on Rails api to serve our data. I'm building with a Behavior Driven Development first mindset and am using technologies such as Cucumber, Rspec, MongoDB and Amazon Web Services to deliver this.

				I'm also in charge of building our business portal and am primarily implementing this with Javascript / Coffeescript. I'm building an Express.js app to contact our api and deliver initial page loads to start our front-end MVC app built on BackBone.js.
			
			%a{:href=>"http://flashquest.com"}= "Site"	

						