---
  title: Jon Morehouse's Resume
  css: resume 
  javascripts: all 
---

/ include the basic header
= partial "partials/header"

#container
	
	= partial "partials/overview"
	
= partial "partials/footer"



